apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  labels:
    {{- include "sac.labels" . | nindent 4 }}
    app: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - port: {{ .Values.apiGateway.port }}
      targetPort: {{ .Values.apiGateway.port }}
      protocol: TCP
  type: ClusterIP
